# Ignore Symlink to Arduino directory
Arduino.lnk

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Eclipse project configuration files that begin with '.' and subfolders 'bin'
**/.project
**/.cproject
**/.settings
**/.classpath
**/bin/**