# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Eclipse project configuration files that begin with '.' and subfolders 'bin'
**/.project
**/.settings
**/.classpath
**/bin/**